

body {
    font-family: "Bona Nova SC", serif;
   margin: 0;
   padding: 0;
}

.navbar{
    background-color:transparent;
}

.h2{
    background-color: black;
}

@media screen and (max-width:1200px){
    .nav-bar{
        position: relative;
    }
    
}

@media screen and (max-width:1200px){
    .container{
        position: relative;
    }
    
}